<!DOCTYPE html>
<html>
  <head>
    <title>ListApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header><h1>Erin's Sublime List App</h1></header>
    <div id = "primary">
      <% if flash[:message] %>
        <p class="flash-message"><%= flash[:message] %> </p>
      <% end %>
    <%= yield %>
    </div>
	<%= render 'layouts/sidebar' %>
    <footer><p>Erin's Sublime List App was made with the knowledge she has acquired from her Building Web Applications class. Thanks for coming!</p></footer>
  </body>
</html>
